*{
   padding:0;
   margin:0;
   border: 0; 
}

html{
    scroll-behavior: smooth;
}

nav{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    padding: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
    z-index:1;

}
.navLinks{
    text-align: center;
    padding: .5em 1em;
    text-decoration: none;
}
a{
    display: flex;
    font-family: avenir next;
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: none;
    color: white;
 
    
}

a:hover{
    color: rgb(106, 196, 188);
}

a:active{
 color:  rgb(106, 196, 188);
}

.welcomeCont{
    width: 100%;
    height: 50em;
    background-image: url(img/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome{
position: relative;
  left: 0;
  top: 14em;
  width: 100%;
  text-align: center;
  font-family: avenir next;
  font-weight: bold;
  color: rgb(255, 255, 255);

}

.welcome2{
    position: relative;
    left: 0;
    top: 13em;
    width: 100%;
    text-align: center;
    font-family: avenir next;
    font-weight: bold;
    color: white;
    
   
}

.title  {
    display: flex;
    padding: 4em 0 0 0;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: avenir next;
    width: 100%;
    color: gray;
    text-decoration: underline;
}

.skillsCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 45em;
    background-color: white;
}

.skillsDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    border-radius: .5em;
    padding: 1em 5em;
    font-size: 1.3em;
    font-weight: 200;
    font-family: 'Trebuchet MS';
    color: rgb(56, 49, 49);
}

#skillTag{
    text-decoration: underline;
    font-size: 1.7em;
    font-weight: 100;
    padding: 1em 0 0 0;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.4em;
    font-family: avenir next;
    color: #333;
}

.aboutCont{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55em;
    background-color: white;
}

.aboutTitle{
    display: flex;
    /* padding: 9em 0 2em 17em; */
    padding: 3em 0 0 0;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: avenir next;
    color: gray;
    text-decoration: underline;
}

.aboutDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 20em;
    padding: 0 0 0 8em;
    font-size: 1em;
    font-weight: 200;
    font-family: avenir next;
    color: rgb(56, 49, 49);
}

.imgTitleCont{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.myPic{
    display: flex;
    width: 7em;
    height: 7.9em;
    border-radius: 50%;
    padding: .3em;
    background-color: gray;
}
.myImg{
    display: flex;
    justify-content: center;
}

.contactCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 35em;
    background-color: white;
}

.contactDesc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 80%;

    padding: 4em 5em;
    font-size: 1em;
    font-weight: 200;
    font-family: 'Trebuchet MS';
    color: rgb(56, 49, 49);
}

.contactTitle{
    display: flex;
    padding: 3em 0 2em 0;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: avenir next;
    width: 100%;
    color: gray;
    text-decoration: underline;
}


.pic1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: avenir next;
    width: 100%;
    height: 45em;
    background-image: url(img/img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.pic2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: avenir next;
    width: 100%;
    height: 45em;
    background-image: url(img/img3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}

.pic3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: avenir next;
    width: 100%;
    height: 45em;
    background-image: url(img/img3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* h3{
    display: flex;
    text-align: center;
    width: 70%;
    padding: 8px, 24px;
    border-radius: .5em;
} */



/* #links:hover{
    color: blue;
} */
/* .gitHubCont{
    border-radius: 50%;
    background-color:  rgb(106, 156, 196);
}

#gitHub{
    background-image: url('icons/gitHub.png');
    height: 5em;
    width: 5em;
    background-size: cover;
    filter: grayscale(100%);
 
}


.githubCont:hover{
   filter: invert(100%);
}

#phone{
    background-image: url('icons/phone.png');
    height: 9em;
    width: 9em;
    background-size: cover;
    filter: grayscale(100%);
}
.phoneCont{
    border-radius: 50%;
    background-color:  rgb(106, 156, 196);
}*/

/* #email{
    height: 10em;
    width: 2em;
    background-size: cover;
    text-decoration: none;
}
.emailCont{
    border-radius: 50%;
    background-color:  rgb(106, 156, 196);
}  */

#email:focus,
#email:hover,
#phone:focus,
#phone:hover,
#resume:hover,
#linkedIn:hover,
#gitHub:hover{
    cursor: pointer;
    color: red;
    
}

/* 
#linkedIn{
    
    background-size: cover;
}


#resume{
    background-image: url('icons/resume.png');
    height: 4.5em;
    width: 4.5em;
    background-size: cover;
    filter: grayscale(100%);
    
}

.resumeCont{
    border-radius: 50%;
    background-color:  rgb(106, 156, 196);
} */
 .emailModal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 9em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);  
}

.phoneModal{
    display: none;
  position: fixed;
  z-index: 1;
  padding-top: 9em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.emailModal-content{
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 0;
    border: .2em solid #888;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s

}

.phoneModal-content{
    position: relative;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin: auto;
    padding: 0;
    border: .2em solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top:0; opacity: 1}
}

@keyframes animatetop{
    from {top:-300px; opacity: 0}
    to {top: 0; opacity: 1}
}


.closePhone:hover,
.closePhone:focus {
    color: rgb(106, 196, 188);
    text-decoration: none;
    cursor: pointer;
}

.closeEmail:hover,
.closeEmail:focus {
    color: rgb(106, 196, 188);
    text-decoration: none;
    cursor: pointer;
}

.closeEmail{
    color: white;
    font-size: 2em;
    font-weight: 400;
    padding: 0 2px 0 0;
    float: right;
}

.closePhone{
    color: white;
    font-size: 2em;
    font-weight: 400;
    padding: 0 2px 0 0;
    float: right;
}

/* .phoneTitle{
    color: white;
    width: 50%;
} */
.phoneModal-header{
    background-color: #333;
    font-family: avenir next;
    padding: 0 4px 0 0;
    font-weight: 100;
}
.emailModal-header{
    background-color: #333;
    font-family: avenir next;
    font-weight: 100; 
    padding: 0 4px 0 0; 

}
.modalTitle{
    display: flex;
   align-content: center;
   justify-content: center;
   font-family: avenir next;
   font-size: 1.4em;
   padding: 8px;
   text-align: right;
   color: white;

}

.modalContent{
    display: flex;
    justify-content: center;
    width: 100%;

}

.emailModal-body{
    padding: 1em;
    font-family: avenir next;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 300;
}

.phoneModal-body{
    padding: 3em 4em;
    font-family: avenir next;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5em;
    font-weight: bold;
}

.modal-footer {

    background-color: #333;
    color: white;
  }
 






  








  

