* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: transparent;
}
.container-fluid{
  padding: 0;
  margin: 0;
  border: 0;
}

.padding{
  padding-bottom: 3em;
}


/* NAVBAR SECTION */
.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  z-index: 1;
  padding: .2em;
}
.navbar-brand img{
  height: 3em;
  width: 3em;
  border-radius: 50%;
 
}
.navbar-nav li {
padding-right: 60px;
}
.nav-link{
  color: rgb(240, 240, 240);
  font-size: 1.2em !important;
}
.nav-link:hover {
  color: rgb(106, 196, 188);
}
.nav-link:active {
  color: rgb(106, 196, 188);
}
nav .icon {
  display: none;
}
.fa-bars{
  font-size: 2em;
  color: springgreen;
}
a img{
margin: 0 0 0 1em;
float: right;
}


/* WELCOME DIV */
.welcomeCont {
  width: 100%;
  height: 100%;
  background-image: url(img/img1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em;
}
.welcome {
  position: relative;
  left: 0;
  top: 18em;
  width: 100%;
  text-align: center;
  font-family: avenir next;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.welcome2 {
  position: relative;
  left: 0;
  top: 17em;
  width: 100%;
  text-align: center;
  font-family: avenir next;
  font-weight: bold;
  color: white;
}

/* SKILLS DIV */
.skillsTitle {
  padding: 5em 0 2em 0;
  font-weight: bolder;
  font-size: 1.5em;
  font-family: avenir next;
  color: gray;
  text-decoration: underline;
}
.skillsDesc p {
  padding: .5em 14em;
  font-size: 1.1em;
  font-weight: 300;
  font-family: "avenir next";
  color: rgb(56, 49, 49); 
}

.skillTag {
  text-decoration: underline;
  font-size: 1em;
  font-weight: 100;
  padding: 1em 0 0 0;
  font-family: avenir next;
  color: rgb(73, 72, 72);
}

/* ABOUT DIV */
.aboutTitle {
  padding: 5em 0 1em 0;
  font-weight: bolder;
  font-size: 1.5em;
  font-family: avenir next;
  color: gray;
  text-decoration: underline;
}
.aboutDesc {
  padding: 1em 9em 3em 9em;
  font-size: 1.1em;
  font-weight: 400;
  font-family: avenir next;
  color: rgb(56, 49, 49);
}
.myPic {
  display: flex;
  width: 7em;
  height: 7.9em;
  border-radius: 50%;
  padding: 0.3em;
  background-color: gray;
}
.myImg {
  display: flex;
  justify-content: center;
  padding-bottom: 3.5em;
}

/* CONTACT DIV */
.contactTitle {
  padding: 4em 0 1em 0;
  font-weight: bolder;
  font-size: 1.5em;
  font-family: avenir next;
  color: gray;
  text-decoration: underline;
}
.contactDesc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 5em;
  font-size: 1em;
  font-weight: 200;
  color: rgb(56, 49, 49);
}

.contactDesc a {
  text-decoration: none;
  display: block;
}

.contactHeader {
  font-weight: 300;
  padding: 1em 0 0;
  font-family: avenir next;
}
.contactHeader2{
  font-weight: 300;
  padding: 1em 0 3em;
  font-family: avenir next;
}

i {
  font-size: 3.1em;
}

span:hover {
  color: rgb(106, 196, 188);
  font-weight: 600;
}

span {
  color: #333;
  font-size: 0.7em;
  font-weight: 300;
  padding: 5px 0 10px 0;
  display: block;
  /* text-transform:uppercase; */
  font-family: avenir next;
  letter-spacing: 1px;
}

/* FOOTER SECTION */
footer{
  background-color: #333;
  color: white;
  font-size: 1.1em;
  padding: 1em;
  font-family: avenir next;
}

/* IMAGES FOR SITE */
.pic1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: avenir next;
  width: 100%;
  height: 100%;
  background-image: url(img/img2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.pic2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: avenir next;
  width: 100%;
  height: 100%;
  background-image: url(img/img3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.pic3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: avenir next;
  width: 100%;
  height: 45em;
  background-image: url(img/img3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#email:focus,
#email:hover,
#phone:focus,
#phone:hover,
#resume:hover,
#linkedIn:hover,
#gitHub:hover {
  cursor: pointer;
  color: red;
}

/* MODAL STYLING */
.emailModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 9em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phoneModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 9em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.emailModal-content {
  position: relative;
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 0;
  border: 0.2em solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.phoneModal-content {
  position: relative;
  background-color: rgb(255, 255, 255);
  /* justify-content: center; */
  margin: auto;
  padding: 0;
  border: 0.2em solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.closePhone:hover,
.closePhone:focus {
  color: rgb(106, 196, 188);
  text-decoration: none;
  cursor: pointer;
}

.closeEmail:hover,
.closeEmail:focus {
  color: rgb(106, 196, 188);
  text-decoration: none;
  cursor: pointer;
}

.closeEmail {
  color: white;
  font-size: 2em;
  font-weight: 400;
  padding: 0 2px 0 0;
  float: right;
}

.closePhone {
  color: white;
  font-size: 2em;
  font-weight: 400;
  padding: 0 2px 0 0;
  float: right;
}

.phoneModal-header {
  background-color: #333;
  font-family: avenir next;
  padding: 0 4px 0 0;
  font-weight: 100;
}
.emailModal-header {
  background-color: #333;
  font-family: avenir next;
  font-weight: 100;
  padding: 0 4px 0 0;
}
.modalTitle {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: avenir next;
  font-size: 1.4em;
  padding: 8px;
  text-align: right;
  color: white;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.3em 0 0 0;
  width: 100%;
}

.emailModal-body {
  padding: 1em;
  font-family: avenir next;
  height: 4em;
  font-size: 1.5em;
  font-weight: 300;
}

.phoneModal-body {
  padding: 1em;
  height: 4em;
  font-family: avenir next;
  font-size: 1.5em;
  font-weight: 300;
}

.modal-footer {
  background-color: #333;
  color: white;
}







/* RESPONSIVE: TABLET  */
@media screen and (max-width: 1050px) {

  /* WELCOME DIV */
  .welcomeCont {
  padding: 2em;
  }
  .welcome{
    padding: 0em, 2em;
    top: 22em;
  }
  .welcome2 {
    top: 25em;
  }

  /* SKILLS DIV */

  .skillsTitle {
    padding: 3em 0 0 0;
    font-weight: 600;
    font-size: 2.5em;
  }
  .skillsDesc p {
    font-size: 1.3em;
    font-weight: 400;
    
  }
  .skillTag h2 {
    font-size: 2em;
    font-weight: 400;
    padding: 1em 0 0 0;
  }

  /* ABOUT DIV */
  .aboutTitle {
    padding: 3em 0 1em 0;
    font-size: 1.5em;
  }
  .myPic {
    width: 8.6em;
    height: 9.5em;
  }
  .myImg {
    display: flex;
    justify-content: center;
    padding: 1em 0 2em 0;
  }
  .aboutDesc{
    padding: 0 3em;
  }

  /* CONTACT DIV */

  .contactTitle {
    display: flex;
    padding: 5em 0 2em 0;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: avenir next;
    width: 100%;
    color: gray;
    text-decoration: underline;
  }
  .contactCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 63em;
    background-color: white;
  }

  .contactHeader {
    font-weight: 300;
    font-size: 1.9em;
    padding: 0 0 1em 0;
    font-family: avenir next;
  }
  .contactHeader2 {
    font-weight: 300;
    font-size: 1.5em;
    padding: 1em 1em 1em 1em;
    font-family: avenir next;
  }

  .contactDesc {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 8em;
    font-size: 1.3em;
  }

  .contactDesc a {
    text-decoration: none;
    display: block;
  }

  .social {
    padding: 2em 1.5em 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  span:hover {
    color: rgb(106, 196, 188);
    font-weight: 600;
  }

  span {
    color: #333;
    font-size: 1em;
    font-weight: 300;
    display: block;
    font-family: avenir next;
    letter-spacing: 1px;
  }

  /* IMAGES FOR SITE */
  .pic1 {
    font-weight: bold;
    font-family: avenir next;
    width: 100%;
    height: 65em;
    background-image: url(img/img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  .pic2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: avenir next;
    width: 100%;
    height: 65em;
    background-image: url(img/img3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  .pic3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: avenir next;
    width: 100%;
    height: 45em;
    background-image: url(img/img3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* MODAL STYLING */
  .emailModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 25em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .phoneModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 25em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .emailModal-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 0;
    border: 0.2em solid #888;
    width: 56%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .phoneModal-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 0;
    border: 0.2em solid #888;
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  .closePhone:hover,
  .closePhone:focus {
    color: rgb(106, 196, 188);
    text-decoration: none;
    cursor: pointer;
  }

  .closeEmail:hover,
  .closeEmail:focus {
    color: rgb(106, 196, 188);
    text-decoration: none;
    cursor: pointer;
  }

  .closeEmail {
    color: white;
    font-size: 2em;
    font-weight: 400;
    padding: 0 2px 0 0;
    float: right;
  }

  .closePhone {
    color: white;
    font-size: 2em;
    font-weight: 400;
    padding: 0 2px 0 0;
    float: right;
  }

  .phoneModal-header {
    background-color: #333;
    font-family: avenir next;
    padding: 0 4px 0 0;
    font-weight: 100;
  }
  .emailModal-header {
    background-color: #333;
    font-family: avenir next;
    font-weight: 100;
    padding: 0 4px 0 0;
  }
  .modalTitle {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: avenir next;
    font-size: 1.4em;
    padding: 8px;
    text-align: right;
    color: white;
  }

  .modalContent {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.3em 0 0 0;
    width: 100%;
  }

  .emailModal-body {
    padding: 1em;
    font-family: avenir next;
    height: 4em;
    font-size: 1.5em;
    font-weight: 300;
  }

  .phoneModal-body {
    padding: 1em;
    height: 4em;
    font-family: avenir next;
    font-size: 1.5em;
    font-weight: 300;
  }

  .modal-footer {
    background-color: #333;
    color: white;
  }
}










/* RESPONSIVE: MOBILE PHONES  */

@media screen and (max-width: 450px) {

  /* label {
    display: block;
    cursor: pointer;
    width: 26px;
    float: right;
    color:rgb(69, 177, 168);
    position:fixed;
    top:10px;
    left:320px;
    -moz-transition:all 600ms ease-in;
    -webkit-transition:all 600ms ease-in;
    -o-transition:all 600ms ease-in;
    transition:all 600ms ease-in;
    z-index:500;
  } */


  /* WELCOME DIV */
  .welcome {
    top: 20em;
    font-weight: 200;
    font-size: .6em;
  }

  .welcome2 {
    top: 21em;
    width: 100%;
    text-align: center;
    font-family: avenir next;
    font-weight: bold;
    font-size: .7em;
    color: white;
  }

  /* SKILLS DIV */
  .skillsTitle {
    padding: 4em 0 0 0;
    font-weight: 600;
    font-size: 1.5em;
  } 
  .skillsDesc p {
    padding: .6em 0 0 0;
    font-size: 1.3em;
    font-weight: 400;
  }
  .skillTag h2 {
    font-size: 2em;
    font-weight: 400;
    padding: .5em 0 0 0;
  }

  /* ABOUT DIV */
  .aboutTitle {
    padding: 4em 0 1em 0;
    font-size: 1.5em;
  }
  .aboutDesc {
    padding: 1.5em .9em 0 .9em ;
    font-size: 1.4em;
    font-weight: 300; 
  }
  .myImg {
    padding: 1em 0 3em 0;
  }

  /* CONTACT DIV */

  .contactTitle {
    display: flex;
    padding: 4em 0 0 0;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: avenir next;
    width: 100%;
    color: gray;
    text-decoration: underline;
  }
  .contactCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 47em;
    background-color: white;
  }

  .contactHeader {
    font-weight: 300;
    font-size: 1.6em;
    padding: 1em 0 0 1em;
    font-family: avenir next;
  }
  .contactHeader2 {
    font-weight: 300;
    font-size: 1.4em;
    padding: 1em;
    font-family: avenir next;
  }

  /* .contactDesc {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    padding: .5em 5em;
    font-size: 1.3em;
  } */
  .contactDesc {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 8em;
    font-size: 1.3em;
  }

  span:hover {
    color: rgb(106, 196, 188);
    font-weight: 600;
  }

  span {
    color: #333;
    font-size: 1em;
    font-weight: 300;
    display: block;
    font-family: avenir next;
    letter-spacing: 1px;
  }

  i.social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 4em;
  }
  .social {
    padding: 2em 1.5em 0 0;
  }

  /* IMAGES FOR SITE */
  .pic1 {
    font-weight: bold;
    font-family: avenir next;
    width: 100%;
    height: 55em;
    background-image: url(img/img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  .pic2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: avenir next;
    width: 100%;
    height: 55em;
    background-image: url(img/img3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  .pic3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: avenir next;
    width: 100%;
    height: 45em;
    background-image: url(img/img3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* MODAL STYLING */
  .emailModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 16em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .phoneModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 16em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .emailModal-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 0;
    border: 0.2em solid #888;
    width: 85%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .phoneModal-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 0;
    border: 0.2em solid #888;
    width: 85%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  .closePhone:hover,
  .closePhone:focus {
    color: rgb(106, 196, 188);
    text-decoration: none;
    cursor: pointer;
  }

  .closeEmail:hover,
  .closeEmail:focus {
    color: rgb(106, 196, 188);
    text-decoration: none;
    cursor: pointer;
  }

  .closeEmail {
    color: white;
    font-size: 2em;
    font-weight: 400;
    padding: 0 2px 0 0;
    float: right;
  }

  .closePhone {
    color: white;
    font-size: 2em;
    font-weight: 400;
    padding: 0 2px 0 0;
    float: right;
  }

  .phoneModal-header {
    background-color: #333;
    font-family: avenir next;
    padding: 0 4px 0 0;
    font-weight: 100;
  }
  .emailModal-header {
    background-color: #333;
    font-family: avenir next;
    font-weight: 100;
    padding: 0 4px 0 0;
  }
  .modalTitle {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: avenir next;
    font-size: 1.4em;
    padding: 8px;
    text-align: right;
    color: white;
  }

  .modalContent {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 0 .5em 0;
    width: 100%;
  }

  .emailModal-body {
    padding: 1em;
    font-family: avenir next;
    height: 4em;
    font-size: 1.3em;
    font-weight: 300;
  }

  .phoneModal-body {
    padding: 1em;
    height: 4em;
    font-family: avenir next;
    font-size: 1.3em;
    font-weight: 300;
  }

  .modal-footer {
    background-color: #333;
    color: white;
  }
}

